/*-----------------------------entire page deafult--------------------------*/
*
{
	margin:0;
	padding:0;
}
/*-----------------------------Navigation----------------------------------*/
#nav-bar
{
	position:sticky;
	top:0;
	z-index:10;
}
.navbar-brand img
{
	height:40px;
	padding-left:30px;
}
.navbar-nav li
{
	padding:0 10px;
}
.navbar-nav li a
{
	float:right;
	text-align:left;
	
}
#nav-bar ul li a:hover
{
color:#007bff!important;
}	
.navbar
{
	background: #fff;
}
.navbar-toggler
{
border:none!important;
}	
.nav-link
{
	color:black!important;
	font-weight:600;
	font-size:14px;
}
/*--------------------------------------------slider------------------------------------*/
#slider
{
	width:100%;
}
.carousel-caption
{
	top:40%;
	transform:translateY(-50%);
	bottom:intial!important;
	padding: 20px;
}
.carousel-caption h5
{
	color:white;
	font-size:32px;
	font-weight: 600;
	letter-spacing: 1.5px;	
}
.carousel-caption h6
{
	color:white;
	font-size:25px;
	font-weight: 600;
	letter-spacing: 1.5px;	
}
.carousel-caption input
{
	color:grey;
	font-size:20px;
	font-weight: 400;
	font-size: 12px;
	border-radius: 40px;
	border: none;
	text-align: center;
	margin-top: 20px;
	padding: 8px 8px 8px 8px;
	width: 208px;
    height: 33px;
	margin-left: 10px;
	margin-right: 10px;
}
.dropbtn 
{
    width: 208px;
    height: 33px;
    border-radius: 40px;
    background: white;
    word-spacing: 50px;
    font-family: Poppins;
    font-size: 14px;
	color: #8c96ab;  
	border: none;
}
.dropdown 
{
position: relative;
display: inline-block; 
}
.dropdown-content 
{
display: none;
position: absolute;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
background-color: white; 
}
.dropdown-content a 
{
color: #6b6b65;
padding: 12px 16px;
text-decoration: none;
display: block;
background-color: white;
font-size: 12px;
}
.dropdown:hover .dropdown-content 
{
display: block;
color: black;
}
/*-------------------------------------------Quick search------------------------------------*/
#services
{
	
	background-size:cover;
	background-position:center;
	color:black!important;
	background-attachment:fixed;
	padding-top:50px;
	padding-bottom:50px;
}
#services h1
{
	text-align:center;
	color:black !important;
	font-size: 30px;	
}
#services h2
{
	text-align:center;
	color:black !important;
	
	font-size: 18px;
}
.services
{
	margin-top:40px;
}
.icon{
	font-size:40px;
	margin:20px auto;
	padding:20px;
	height:80px;
	width:80px;
	border:1px solid #fff;
	border-radius:50%;
}
.icon img
{
	margin:-30px;
	height:100px;
	width:100px;
	border:1px solid #fff;
	border-radius:50%;
}
.services .col-md-3:hover
{
	background:#b3b1b1;
	cursor:pointer;
	transition:0.7s;
}
.services h3
{
	font-size: 20px; 
}
/*-----------------------------------------------Contact-----------------------------------------*/
#contact
{
	background-color:#efefef;
	padding-top:40px;
	padding-bottom:40px;
	color:#777;
}
.contact-form
{
	padding:15px;
}
.form-control
{
	border-radius:0!important;
	border:none!important;
}
::placeholder
{
	color:#999 !important;
}
.follow
{
	background:#fff;
	padding:10px;
	margin:15px;
}
.contact-info .fa{
	margin:10px;
	color:#007bff;
	font-weight:bold;
}
/*--------------------------------------------------------Footer--------------------------------------------*/
#footer
{
	background:#333;
	color:#fff;
	padding:1px;
}
.fa-heart-o
{
	margin:3px;
	color:red;
}
#footer p
{
	font-size: 16px;
	margin-top: 15px;
}
.fa-copyright
{
	padding: 5px;
}

/*-----------------------------------------------About us list----------------------------------*/

  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  .column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 8px;
  }
  
  .about-section {
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
  }
  
  .container {
	padding: 0 16px;
  }
  
  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #0086b3;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
/*--------------------------------------------------------end of page--------------------------------------------*/

